* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {

}

.game-space {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
}

.click-card {
  width: 240px;
  height: 240px;
}

.img-holder {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; 
}